<mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>

<button id="hide-lyrics" mat-mini-fab color="accent" (click)="toggleLyrics()">
  <mat-icon>menu_open</mat-icon>
</button>

<div class="lyric-container" [hidden]="hideLyrics">
  <p class="previous">{{ previousLine?.text }}</p>
  <p class="current">{{ currentLine?.text }}</p>
  <p class="next">{{ nextLine?.text }}</p>
</div>

<div class="player-controls">
  <button mat-fab color="accent" (click)="toggle()">
    <mat-icon *ngIf="!isPlaying">play_arrow</mat-icon>
    <mat-icon *ngIf="isPlaying">pause</mat-icon>
  </button>
</div>