:host() {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}

mat-toolbar {
  position: relative;
  z-index: 10;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

.spacer {
  flex: 1 1 auto;
}

mat-toolbar button {
	margin-right: 10px;
}

mat-sidenav-container {
  flex: 1 1 auto;
}